<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>
  <h2>Xin chào: Nguyễn Đại</h2>
  <div class="title">
    Yêu cầu đơn đặt hàng đã được tiếp nhận
  </div>
  <div class="content">
    <div class="mota">
      <strong> {{fullname}} </strong>thân mến,
      Yêu cầu đặt hàng cho đơn hàng của bạn đã được tiếp nhận và đang chờ Nhà bán hàng xử lý,
      thời gian đặt hàng là Thứ tư, 19 tháng mười hai, 2018 19:00:39 với hình thức thanh toán là Thanh toán khi
      nhận hàng. Chúng tôi sẽ tiếp tục cập nhật với bạn về trạng thái tiếp theo của đơn hàng.
    </div>
    <div class="diachi">
      <strong>{{fullname}}</strong>
      <p>{{address}}</p>
    </div>
    <div class="dienthoai">
      Điện thoại: {{phonenumber}}
    </div>
    <div class="email">
      Email: {{email}}
    </div>
  </div>
</body>

</html>